table {
}

body {
    background-color: red;
    color: #fff;
}

body {
    background-color: red;
    color: #fff;
}

body {
    background-color: red;
    color: #fff;
}

body {
    background-color: red;
    color: #fff;
}